.picker {
  --slide-height: 60px;
  --slide-spacing: 1px;
  --slide-size: var(--slide-height);
  position: relative;
  width: 60px;
}

.picker__viewport {
  height: var(--slide-height);
  overflow: hidden;
  border-radius: 0.375rem;
  border: 1px solid hsl(214.3 31.8% 91.4%);
}

.picker__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.picker__slide {
  height: var(--slide-height);
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
  color: hsl(222.2 47.4% 11.2%);
}

.picker--disabled .picker__slide {
  color: hsl(213 31% 83.9%);
}

.picker::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0.8) 100%
    );
    border-top: 1px solid hsl(214.3 31.8% 91.4%);
    border-bottom: 1px solid hsl(214.3 31.8% 91.4%);
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    .picker::after {
        background: linear-gradient(
            to bottom,
            rgba(18, 18, 18, 0.8) 0%,
            rgba(18, 18, 18, 0) 40%,
            rgba(18, 18, 18, 0) 60%,
            rgba(18, 18, 18, 0.8) 100%
        );
        border-top: 1px solid hsl(215 27.9% 16.9%);
        border-bottom: 1px solid hsl(215 27.9% 16.9%);
    }

    .picker__slide {
        color: hsl(210 40% 98%);
    }

    .picker--disabled .picker__slide {
        color: hsl(217 21% 35%);
    }

    .picker__viewport {
        border-color: hsl(215 27.9% 16.9%);
    }
}
